

    <section >
        <div class="bg-dark py-2">
            <div class="container px-2 px-lg-2 my-2">
                <div class="text-center text-white">
                    <h1 class="display-2 fw-bolder">MY Store</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Product List | <a routerLink="/cart">Cart</a></p>
                </div>
            </div></div>
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                  <div class="col col-md-9 col-lg-7 col-xl-5">
            <div class="col col-md-9 col-lg-7 col-xl-5">
              <div class="card" style="border-radius: 15px; background-color: #93e2bb; width:600px;">
                <div class="card-body p-4 text-center">
                  <div>
                    <h2 class="mb-8">Sucess ! </h2>
                   
                  </div>
                  
                    
                    
                      <div class="d-flex flex-row align-items-center mb-2">
                        <p class="card-body p-4 text-center">Thank you, <b>{{ firstName }}</b></p>
                      </div>
                      <div >Your <b>$ 109</b> order is confirmed!</div>
                      <div >Please allow 1-3 business day(s) for shipping</div>
                      <div >
                       <b><a routerLink="/products">
                              Back to  product list </a></b>
                     </div>
                  
                    </div>
                  
                </div>
              
            </div>
        </div>
    </div>
  </div>
      </section>
